{% extends 'disneyapp/index.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


{% block content %}

<h1 class="title">Top Trending</h1>
<div class="movies-list">
    <button class="pre-btn"><img src="{% static 'images/pre.png' %}" alt=""></button>
    <button class="nxt-btn"><img src="{% static 'images/nxt.png' %}" alt=""></button>
    <div class="card-container">
        <div class="card">
            <img src="{% static 'images/extraction.png' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/coming 2 america.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/365 days.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/a perfect fit.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/amar.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/outside the wire.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/captain america.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/john wick.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>
    </div>
</div>

<h1 class="title">Top Rated</h1>
<div class="movies-list">
    <button class="pre-btn"><img src="{% static 'images/pre.png' %}" alt=""></button>
    <button class="nxt-btn"><img src="{% static 'images/nxt.png' %}" alt=""></button>
    <div class="card-container">
        <div class="card">
            <img src="{% static 'images/the kissing booth.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/spiderman.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/double dad.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/the water man.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/thunder force.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/yes day.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/rebecca.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/the misfits.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/amar.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/fatherhood.jpg' %}" class="card-img" alt="">
            <div class="card-body">
                <h2 class="name">movie name</h2>
                <h6 class="des">Lorem ipsum dolor sit amet consectetur.</h6>
                <button class="watchlist-btn">add to watchlist</button>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/data.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

{% endblock content %}